<div class="container">
    <h3>Numeric Input</h3>
    <span> ng-model is: {{value}}</span>
    <form name="myform">
    <input name="input" class="form-control form-control-lg" ng-model="value" numeric-input min="0" max="3000000" decimals="4" ng-trim="false" formatting="true"/>
        <div ng-if="myform.input.$error.maxValidator">
            Problem
        </div>
    </form>
    <h3>Numeric Input 2 no formatting</h3>
    <span> ng-model is: {{value2}}</span>
    <form name="myform2">
        <input name="input" class="form-control form-control-lg" ng-model="value2" numeric-input min="0" max="3000000" decimals="4" ng-trim="false" formatting="false"/>
        <div ng-if="myform2.input.$error.maxValidator">
            Problem
        </div>
    </form>
    <h3>Numeric Input 2 no formatting min is -200</h3>
    <span> ng-model is: {{value3}}</span>
    <form name="myform3">
        <input name="input" class="form-control form-control-lg" ng-model="value3" numeric-input min="-200" max="3000000" decimals="4" ng-trim="false" formatting="false"/>
        <div ng-if="myform3.input.$error.maxValidator">
            Problem
        </div>
    </form>
    <!--<h3>Numeric Input wih formatting</h3>-->
    <!--<span> ng-model is: {{value3}}</span>-->
    <!--<input class="form-control form-control-lg" ng-model="value3" numeric-input min="0" decimals="4" ng-trim="false"/>-->
</div>


<div style="flex: 1; align-self: center;">



    <!--<div class="frame">-->
        <!--<span>FX</span>-->
        <!--<input class="input" name="name" type="text" ng-model="value" numeric-input min="0" decimals="4" ng-trim="false"-->
               <!--formatting="false"/>-->
    <!--</div>-->
    <!--<div class="frame">-->
        <!--<span>Phone</span>-->
        <!--<input class="input" name="name" type="text" ng-model="value2" numeric-input max="999999999999999" min="0" decimals="0"-->
               <!--formatting="false"/>-->
    <!--</div>-->
    <!--<div class="frame">-->
        <!--<span>Money</span>-->
        <!--<input class="input" name="name" type="text" ng-model="value3" numeric-input  min="0" decimals="2"-->
               <!--formatting="false"/>-->
    <!--</div>-->
    <!--<div class="frame">-->
        <!--<span>Perc</span>-->
        <!--<input class="input" name="name" type="text" ng-model="value4" numeric-input min="0" decimals="2"-->
               <!--formatting="false"/>-->
    <!--</div>-->
</div>
